<!DOCTYPE html>
<html>
  <head>
	<meta charset='utf-8'><title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Autor: Ivan Arenal, haz la pregunta adecuada si quieres una respuesta decente ;-)</h2>
	<video src="images/Video.mp4" poster="images/frog.jpg" controls></video>
  </body>
</html>


